.shop-container{
    display: grid;
    grid-template-columns: 5fr 1fr;
   
   
}
.card{
    background-color: darkgoldenrod;
    overflow: hidden;
}
.shop-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0 40px;
}